@{
    Layout = null;
}

<div>
    <button onclick="connect()">Connect</button>
</div>
<div>
    <input id="wsMessage" type="text"
        placeholder="Write your message..." />
    <button onclick="sendMessage()">Send</button>
</div>

<h3>Logs:</h3>
<div id="logsContainer"></div>

<script>
    var socket = null;

    function connect() {
        
        var url = 'wss://' + location.host;
        socket = new WebSocket(url);

        socket.addEventListener('open', function(event) {
            addLog('Connected to ' + url);
        });

        socket.addEventListener('message', function(event) {
            addLog('Message from server: ' + event.data);
        });
    }

    function sendMessage() {

        var message = wsMessage.value;
        socket.send(message);
        addLog('Message sent!');
    }

    function addLog(log) {

        var logParagraph = document.createElement('p');
        logParagraph.innerText = log;
        logsContainer.appendChild(logParagraph);
    }
</script>